<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <meta charset='utf-8'>
    <title>Cadastro de pessoas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
<body>
  <div class="container-sm" >
  <h3><i class="bi bi-people-fill"> </i>Cadastrar Aluno</h3>
  <div class="row">
    <div class="col-3">
    <form action="cadastrar" method="POST">
        <div class="mb-3">
          <label for="telefone" class="form-label">Telefone</label>
          <input type="text" class="form-control" id="cpf" name = "cpf" aria-describedby="emailHelp">
          </div>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" name=nome>
        </div>
        <div class="mb-3">
            <label for="dataNascimento" class="form-label">Data de Nascimento</label>
            <input type="date" class="form-control" id="dataNascimento" name="dataNascimento">
          </div>
        <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"> </i>Cadastrar</button>
      </form>
    </div>
     <div class="col-3">
       <p align="center">{{total}} pessoa(s) cadastradas</p>
     </div> 
    <h3>Pessoas Cadastradas</h3>
      <table class="table table-hover">
        
          <tr align="center">
              <th>Telefone</th>
              <th>Nome</th>
              <th>Data de Nascimento</th>
              <th>Acões</th>
          </tr>
        
          {% for item in result %}
          <tr align="center">
              <td>{{item["CPF"]}}</td>
              <td>{{item["Nome"]}}</td>
              <td>{{item["DataNascimento"]}}</td>
              <td><a class="btn btn-danger" href='/deletar/{{item["CPF"]}}'>
                <i class="bi bi-trash"> </i>Deletar</a>
                <a href='/atualizar/{{item["CPF"]}}'class="btn btn-secondary">
                  <i class="bi bi-arrow-clockwise"> </i>Atualizar</a></td>
          </tr>
          {% endfor %}
      </table>
    </div>
    
  </div>
        
</body>
</html>
