<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    
    <title>Avaliação de Pesornal Treinee</title>
</head>
<body>                
    <section>
        <div class="container-sm" >
            <h3><i class="bi bi-people-fill"> </i>Perimetro</h3>
            <div class="row">
              <div class="col-3">
              <form action="cadastrar" method="POST">
                  <div class="mb-3">
                    <label for="biceps" class="form-label">Biceps</label>
                    <input type="text" class="form-control" id="biceps" name = "torax" aria-describedby="emailHelp">
                    </div>
                  <div class="mb-3">
                    <label for="abdoman" class="form-label">Antebraço</label>
                    <input type="text" class="form-control" id="nome" name=abdomen>
                  </div>
                  <div class="mb-3">
                      <label for="cintura" class="form-label">Coxa</label>
                      <input type="text" class="form-control" id="cintura" name=cintura>
                    </div>
                  <div class="mb-3">
                      <div class="mb-3">
                          <label for="quadril" class="form-label">Panturilha</label>
                          <input type="text" class="form-control" id="quadril" name=quadril>
                        </div>
                      
                  <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"> </i>Cadastrar</button>
                </form>
              </div>
            </section>
    <div class="container-sm" >
      <h3><i class="bi bi-people-fill"> </i>Cadastrar Perimetro</h3>
      <div class="row">
        <div class="col-3">
        <form action="cadastrar" method="POST">
            <div class="mb-3">
              <label for="torax" class="form-label">Torax</label>
              <input type="text" class="form-control" id="torax" name = "torax" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
              <label for="abdoman" class="form-label">Abdomen</label>
              <input type="text" class="form-control" id="nome" name=abdomen>
            </div>
            <div class="mb-3">
                <label for="cintura" class="form-label">Cintura</label>
                <input type="text" class="form-control" id="cintura" name=cintura>
              </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label for="quadril" class="form-label">Quadril</label>
                    <input type="text" class="form-control" id="quadril" name=quadril>
                  </div>
                
            <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"> </i>Cadastrar</button>
          </form>
        </div>

          
         <div class="col-3">
           <p align="center">{{total}} pessoa(s) cadastradas</p>
         </div> 
        <h3>Pessoas Cadastradas</h3>
          <table class="table table-hover">
            
              <tr align="center">
                  <th>Torax</th>
                  <th>Adbomen</th>
                  <th>Cintura</th>
                  <th>Quadril</th>
              </tr>
            
              <!-- {% for item in result %}
              <tr align="center">
                  <td>{{item["torax"]}}</td>
                  <td>{{item["abdoman"]}}</td>
                  <td>{{item["cintura"]}}</td>
                  <td>{{item["quadril"]}}</td>
                  <td><a class="btn btn-danger" href='/deletar/{{item["CPF"]}}'>
                    <i class="bi bi-trash"> </i>Deletar</a>
                    <a href='/atualizar/{{item["CPF"]}}'class="btn btn-secondary">
                      <i class="bi bi-arrow-clockwise"> </i>Atualizar</a></td>
              </tr>
              {% endfor %} -->
          </table>
        </div>
        
      </div>
      <div class="container-sm" >
        <h3><i class="bi bi-people-fill"> </i>Dobras Cultaneas</h3>
        <div class="row">
          <div class="col-3">
          <form action="cadastrar" method="POST">
              <div class="mb-3">
                <label for="torax" class="form-label">Torax</label>
                <input type="text" class="form-control" id="torax" name = "torax" aria-describedby="emailHelp">
                </div>
              <div class="mb-3">
                <label for="abdoman" class="form-label">Abdomen</label>
                <input type="text" class="form-control" id="nome" name=abdomen>
              </div>
              <div class="mb-3">
                  <label for="cintura" class="form-label">Cintura</label>
                  <input type="text" class="form-control" id="cintura" name=cintura>
                </div>
              <div class="mb-3">
                  <div class="mb-3">
                      <label for="quadril" class="form-label">Quadril</label>
                      <input type="text" class="form-control" id="quadril" name=quadril>
                    </div>
                  
              <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"> </i>Cadastrar</button>
            </form>
          </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>    
    
</body>
</html>