
{% extends 'base.html' %}

{% block title %}{{ super() }} - Index{% endblock %}

{% block content %}
  
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning"> 
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
      {% endif %}
  {% endwith %}
  
    <section class="container" style="padding-top: 50px;">
        <h1>IMC Calculator</h1>
        <hr>
        <br>
        <form method="post" action="">        
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="">Nome</label>
        
                        </div>
                        <div class="col-sm-2">
                            <input type="name" class="form-control" name="nome" value="{{nome}}">
        
                        </div>
                        <br>
                        <div class="col-sm-2">
                            <label for="">Peso</label>
        
                        </div>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" name="peso" value="{{peso}}">
        
                        </div>
        
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="">Altura</label>
        
                        </div>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" name="altura" value="{{altura}}">
        
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary">Calculate</button>
        
                        </div>
                    </div>
                    <div>
                        <p style="font-weight: bold; font-size: 30px; color: green;">O {{nome}} possui o imc de : {{imc}} </p>
                    </div>
                </form>
            </div>  

        </form>     
    </section>
     
{{ % endblock %}}
