
{% extends 'base.html' %}

{% block title %}{{ super() }} - Index{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning"> 
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
</div>
  {% endif %}
{% endwith %}

          
          <!-- <br>
          <div class="col-md-3">
              <label for="">Data De Nascimento:</label>
              <input class="form-control" type="date" id="birthday" name="birthday">
          </div>
          <div class="col-md-3">
              <label for="">Sexo</label>
              <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
              </select>
          </div>
           
          <div class="col-md-10">
              <label for="" class="form-label">Telefone</label>
              <input type="text" class="form-control">
          </div>
          
          
      </div>
  </form> -->
  
    <div class="jumbotron">
        <h1>Bem-vindo ao SysFIt!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="/avaliacao/" role="button">Avaliação</a></p>
    </div>
    <section class="container" style="padding-top: 50px;">
      <h1>IMC Calculator</h1>
      <hr>
      <br>
      <form method="post" action="">        
                  <div class="form-group row">
                      <div class="col-sm-2">
                          <label for="">Nome</label>
      
                      </div>
                      <div class="col-sm-2">
                          <input type="name" class="form-control" name="nome" value="{{nome}}">
      
                      </div>
                      <br>
                      <div class="col-sm-2">
                          <label for="">Peso</label>
      
                      </div>
                      <div class="col-sm-2">
                          <input type="number" class="form-control" name="peso" value="{{peso}}">
      
                      </div>
      
                  </div>
                  <div class="form-group row">
                      <div class="col-sm-2">
                          <label for="">Altura</label>
      
                      </div>
                      <div class="col-sm-2">
                          <input type="number" class="form-control" name="altura" value="{{altura}}">
      
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-sm-3">
                          <button type="submit" class="btn btn-primary">Calculate</button>
      
                      </div>
                  </div>
                  <div>
                      <p style="font-weight: bold; font-size: 30px; color: green;">O {{nome}} possui o imc de : {{imc}} </p>
                  </div>
              </form>
          </div>  

      </form>     
  </section>

     
              <!-- <br>
              <div class="col-md-3">
                  <label for="">Data De Nascimento:</label>
                  <input class="form-control" type="date" id="birthday" name="birthday">
              </div>
              <div class="col-md-3">
                  <label for="">Sexo</label>
                  <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                  </select>
              </div>
               
              <div class="col-md-10">
                  <label for="" class="form-label">Telefone</label>
                  <input type="text" class="form-control">
              </div>
              
              
          </div>
      </form> -->
       
            
          

      </form>     
  </section>
   

  
{% endblock %}

<!-- <html>
    <head>
        <title>Toilter</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        <h1>Toilter</h1>
        {% if user %}
        <p>Bem-vindo ao Toilter, {{ user }}!</p>
        {% else %}
        <p>Bem-vindo ao Toilter!</p>
        {% endif %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
    </body>
</html> -->
