<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>IMC CAlculator</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning"> 
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
      {% endif %}
  {% endwith %}
  
    
    <section class="container" style="padding-top: 50px;">
        <h1>IMC Calculator</h1>
        <hr>
        <br>
        <form method="post" action="">

            <div class="form-group row">
                <div class="col">
                    <label for="">Nome</label>
                    <input type="name" class="form-control" name="nome" required="required">
                </div>
                
                <!-- <br>
                <div class="col-md-3">
                    <label for="">Data De Nascimento:</label>
                    <input class="form-control" type="date" id="birthday" name="birthday">
                </div>
                <div class="col-md-3">
                    <label for="">Sexo</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                 
                <div class="col-md-10">
                    <label for="" class="form-label">Telefone</label>
                    <input type="text" class="form-control">
                </div>
                
                
            </div>
        </form> -->
        <form action="" method="post">
                <div class="col">
                    <label for="">Peso</label>
                    <input type="number" class="form-control" name="peso" required="required" placeholder="Enter peso">
                </div>
                <br>
                <div class="col-md-2">
                    <label for="">Altura</label>
                    <input type="number" class="form-control" name="altura" placeholder="Enter altura">
                </div>   

            </div>
            
            <div class="">
                <button type="submit" class="btn btn-primary">Calcular</button>
            </div>
              
            

        </form>     
    </section>
     

    <div class="container-fluid">
        <h2 class="mx-md-3 mb-md-3">Crie o treino</h2>
        <div id="panel" class="panel panel-default no-padding">

            <div class="panel-body no-padding">
                <form role="form" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="col-md-12 col-sm-5 col-xs-12  ">
                            <div class="row">
                                <div class="col-md-4 mb-2">
                                    <input type="text" class="form-control" placeholder=" Material">
                                </div>
                                <div class="col-5 col-md-2 mb-2">                                             
                                    <select id="" class="form-control">
                                        <option>Centro de Custo</option>
                                    </select>
                                </div>

                                <div class="col-5 col-md-1 mb-2">
                                    <select id="" class="form-control">
                                        <option>Série</option>
                                    </select>
                                </div>                                             

                                <div class="col-md-1 mb-2 ">
                                    <input type="number" class="form-control" placeholder="QTD">
                                </div>
                                <div class="col-md-2">
                                    <input class="btn btn-primary" type="submit" value="Adicionar">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="ml-5">
                    <div class="row mx-0 mx-md-2 table-responsive-sm ">
                        <table class="col-md-8 col-sm-5 table table-sm table-bordered table-striped mt-3 mt-md-4 ali "  >
                            <thead class="bg-dark text-white text-center " >
                                <tr>
                                    <th style="width: 5%;" >#</th>
                                    <th style="width: 20%;">Material</th>
                                    <th style="width: 30%;">Centro de Custo</th>
                                    <th style="width: 5%;" >Unid.</th>
                                    <th style="width: 10%;">Qtd.</th>
                                    <th colspan="2" style="width: 5%;" ></th>   
                                </tr>
                            </thead>
                            <tbody class="text-center  ">
                                <tr >
                                    <td class='align-middle'>1</td>
                                    <td class='align-middle' >Material 1</td>
                                    <td class='align-middle'>01.09.01 - PLACA DA OBRA</td>
                                    <td class='align-middle' >sc</td>
                                    <td class='align-middle'>10</td>
                                    <td class='align-middle'><a class=" link-primary" style="text-decoration: underline;" href="">Editar</a></td>
                                    <td class='align-middle'><a class=" link-primary" style="text-decoration: underline;" href="">Exluir</a></td>
                                    
                                </tr>
                                <tr>
                                    <td class='align-middle'>2</td>
                                    <td class='align-middle'>Material 2</td>
                                    <td class='align-middle'>01.09.11 - POÇO ARTESIANO</td>
                                    <td class='align-middle'>t</td>
                                    <td class='align-middle'>10</td>
                                    <td class='align-middle'><a class=" link-primary" style="text-decoration: underline;" href="">Editar</a></td>
                                    <td class='align-middle'><a class=" link-primary" style="text-decoration: underline;" href="">Exluir</a></td>
                                </tr>
                                <tr>
                                    <td class='align-middle'>3</td>
                                    <td class='align-middle'>Material 3</td>
                                    <td class='align-middle'>02.01 - SERVIÇOS DE TERRAPLANAGEM  (MAQUINÁRIO)</td>
                                    <td class='align-middle'>kg</td>
                                    <td class='align-middle'>1000</td>
                                    <td class='align-middle'><a class=" link-primary" style="text-decoration: underline;" href="">Editar</a></td>
                                    <td class='align-middle'><a class=" link-primary" style="text-decoration: underline;" href="">Exluir</a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td > Material 4 </td>
                                    <td >03.09 - MATERIAL - AREIA (SUPER)</td>
                                    <td>pc</td>
                                    <td>100</td>
                                    <td class='align-middle'><a class=" link-primary" style="text-decoration: underline;" href="">Editar</a></td>
                                    <td class='align-middle'><a class=" link-primary" style="text-decoration: underline;" href="">Exluir</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row ml-md-1">
                        <div class="col-8 col-md-7">
                            <button class="btn btn-default btn-outline-dark ">Limpar</button>
                        </div>
                        <div class="col col-md-5">
                            <button class="btn btn-primary ml-md-4">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>    
</body>
</html>