{% extends 'base.html' %}

{% block content%}
<div class="col-md-6 col-md-offset-3">
    <div class="text-center">
        <h3>Login</h3>
    </div>
    <div>
        <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label>Username</label>
                {{ form.username(class="form-control",
                placeholder="Nome de Usuario") }}
                {% if form.errors.username %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.username %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                 </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label>Password</label>
                {{ form.password(class="form-control") }}
                {% if form.errors.password %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.password %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}            </div>
            
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>    
</div>
{% endblock %}