<!DOCTYPE html>
<html>
<head>
    <title>Tabela de Tipos de Treinos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Tabela de Tipos de Treinos</h1>
        <form action="/adicionar" method="post">
            <div class="form-group">
                <label for="serie">Série:</label>
                <select name="serie" id="serie" class="form-control" required>
                    <option value="a">Série A</option>
                    <option value="b">Série B</option>
                    <option value="c">Série C</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tipo_treino">Tipo de Treino:</label>
                <input type="text" name="tipo_treino" id="tipo_treino" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="qtd_series">Quantidade de Séries:</label>
                <input type="number" name="qtd_series" id="qtd_series" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
        <hr>
        <h2>Série A</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo de Treino</th>
                    <th>Quantidade de Séries</th>
                </tr>
            </thead>
            <tbody>
                {% for treino in treinos_a %}
                <tr>
                    <td>{{ treino.tipo_treino }}</td>
                    <td>{{ treino.qtd_series }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Série B</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo de Treino</th>
                    <th>Quantidade de Séries</th>
                </tr>
            </thead>
            <tbody>
                {% for treino in treinos_b %}
                <tr>
                    <td>{{ treino.tipo_treino }}</td>
                    <td>{{ treino.qtd_series }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Série C</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo de Treino</th>
                    <th>Quantidade de Séries</th>
                </tr>
            </thead>
            <tbody>
                {% for treino in treinos_c %}
                <tr>
                    <td>{{ treino.tipo_treino }}</td>
                    <td>{{ treino.qtd_series }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <h2>Enviar Treino por E-mail</h2>
        <form action="/enviar_email" method="post">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar por E-mail</button>
        </form>
    </div>
</body>
</html>
