<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <meta charset='utf-8'>
    <title>Cadastro de pessoas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container-sm">
    <div class="row">
      <h1>Cadastrar Pessoas</h1>
  <div class="col-4">
    <form action="{{pessoa[0]['torax']}}" method="POST">
        <div class="mb-3">
          <label for="torax" class="form-label">Torax</label>
          <input type="text" class="form-control" id="torax" 
          name = "cpf"
          value='{{pessoa[0]["torax"]}}'
          readonly>
          </div>
        <div class="mb-3">
          <label for="abdoman" class="form-label">Abdomen</label>
          <input type="text" class="form-control" id="abdoman" 
          name=nome
          value='{{pessoa[0]["Abdomen"]}}'>
        </div>
        <div class="mb-3">
          <label for="cintura" class="form-label">Cintura</label>
          <input type="text" class="form-control" id="cintura" 
          name=nome
          value='{{pessoa[0]["cintura"]}}'>
        </div>
        <div class="mb-3">
          <label for="quadril" class="form-label">Quadril</label>
          <input type="text" class="form-control" id="quadril" 
          name=nome
          value='{{pessoa[0]["quadril"]}}'>
        </div>
        <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-clockwise"> </i>Atualizar</button>
      </form>
      </div>
    </div>
  </div>
  </body>
</html>


